#bxLogin{
	width:280px;
	height:auto;
	padding:5px;
	margin:auto;
	margin-top:15%;
	border-radius:5px;
	background-color:#CCC;
}

input[type=text]{
	width:270px;
	height:30px;
	padding-left:5px;
	background-color:#FFF;
	outline:none;
	margin-bottom:10px;	
}

input[type=password]{
	width:270px;
	height:30px;
	padding-left:5px;
	background-color:#FFF;
	outline:none;
	margin-bottom:10px;	
}

input[type=button]{
	width:80px;
	height:30px;
	background-color:#FFF;
	margin-bottom:10px;
	border:1px solid #999;
	outline:none;
	cursor:pointer;
}

#loading{
	margin-left:20px;
}

#notificacao{
	width:278px;
	height:30px;
	background-color:#FF8C8C;
	border:1px solid #F00;
	color:#000;
	line-height:30px;
	text-align:center;
}